@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,wght@0,300;0,600;0,900;1,200;1,400&family=Rubik+Glitch&family=VT323&display=swap&family=Itim&display=swap&family=Josefin+Slab:wght@400;600&display=swap&family=Merienda&family=Neucha&family=Sahitya&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.hamburguer {
    width: 2em;
    height: 2em;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all .40s;
}

.hamburguer:hover {
    transform: translateY(-0.25em);
}

.show-menu .hamburguer {
    right: 16em;
}

.line {
    width: 100%;
    height: .2rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform 1s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .45rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.45rem);
    box-shadow: none;
}

.hamburguer span {
    position: absolute;
    color: white;
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    background: linear-gradient(to left, #4CA1AF, #2C3E50); 
    left: 3em;
    height: 2em;
    width: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right:.5em solid #2C3E50 ;
    border-top:.5em solid transparent ;
    border-left:.5em solid transparent ;
    border-bottom:.5em solid transparent ;
    left: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}


.banner {
    position: absolute;
    top: 30%;
    width: 60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 600px){
    .banner{
        width: 100%;
        top: 15%;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .banner .text {
        max-width: 300px;
        margin-top: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.banner .text {
    width: 60%;
    margin: 2%;
}

.banner .matheus {
    width: 25%;
    margin: 3%;
}

.banner .matheus img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #ffffff83;
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    background: linear-gradient(to left, #4CA1AF, #2C3E50);    
    margin: auto;
    box-shadow: 0 1em 1em -0.4em #03030377;
}

.banner h1 {
    color: white;
    font-size: 250%;
    margin-top: 0;
    
    font-family: "Cousine", serif;
    font-weight: 700;
    text-shadow: .1em .15em 2px rgba(0,0,0,0.4);
    transition: 0.30s;
}

.banner h2 {
    font-family: 'Neucha', Times, serif;
    font-weight: 100;
    letter-spacing: .3rem;
    color: white;
    font-size: 100%;
    text-shadow: .1em .15em 2px rgba(0,0,0,0.4);
    margin-bottom: 2.5rem;
    transition: 0.30s;
}

.banner p {
    font-family: "Sahitya", serif;
    color: white;
    font-size: 120%;
    text-shadow: .1em .15em 2px rgba(0,0,0,0.4);
    margin-bottom: 2.5rem;
    transition: 0.30s;
}

.banner button {
    font-family: 'Itim', serif;
    font-size: 100%;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #ffffff83;
    letter-spacing: .3vh;
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    background: linear-gradient(to left, #4CA1AF, #2C3E50); 
    padding: 1vh 3vh;
    border-radius: 5px;
    box-shadow: 0 0.7em 0.7em -0.4em #02020277;
    text-shadow: .1em .2em 2px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: 0.30s;
}

.banner button:hover, button:focus {
    background: #ffffff00;
    border: 2px solid white;
    box-shadow: 0 0.4em 0.4em -0.4em #ffffff56;
    transform: translateY(-0.25em);
}

.banner h1:hover {
    transform: translateY(-0.1em);
}

.banner h2:hover{
    transform: translateY(-0.15em);
}

.banner p:hover{
    transform: translateY(-0.15em);
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #000000ea;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .40s;
}

.show-menu .sidebar{
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .6rem;
    transition: 0.30s;
    
}

.menu-link {
    font-family: 'Nunito Sans', serif;
    font-weight: 600;
    font-size: 2em;
    color: rgb(255, 255, 255);
    transition: color .3s;
}

.menu-item:hover {
    transform: translateY(-0.25em);
}

.menu-link:hover {
    opacity: 0.3;
}
    
.social-media {
    position: absolute;
    bottom: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: white;
    height: 2.5em;
    width: .8em;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.30s;
}

.social-media i:hover {
    transform: translateY(-0.1em);
    opacity: 0.3;
}

.conhecimentos{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "c1 c1 c2 c2"
    "c3 i1 i1 c4"
    "c5 c5 c6 c6";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, .5fr);
    grid-gap: 10px;
}

@media (max-width: 800px){
    .conhecimentos{
        grid-template-areas: 
        "c1"
        "c2"
        "c3"
        "i1"
        "c4"
        "c5"
        "c6";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, .5fr);
        grid-gap: 50px;
    }
}

#c1 {
    grid-area: c1;
}

#c2 {
    grid-area: c2;
}

#c3 {
    grid-area: c3;
}

#i1{
    grid-area: i1;
}

#c4 {
    grid-area: c4;
}

#c5 {
    grid-area: c5;
}

#c6 {
    grid-area: c6;
}

.conhecimentos-img{
    margin: auto;
}

.conhecimentos-img img{
    max-width: 300px;
    min-width: 150px;
}

.sessao-conhecimentos {
    background-color: #cfcfcf;
    padding: 40px;
}

.sessao-header{
    display: flex;
    justify-content: center;
}

.sessao-header h1{
    font-family:'Itim', serif;
    font-size: 3rem;
    margin: 10px;
    margin-bottom: 3rem;
    color: #2C3E50;
    border-bottom: solid 3px #4CA1AF;
}

.conhecimento {
    margin: auto;
    max-width: 300px;
    min-width: 150px;
}

.conhecimento-header{
    display: flex;
    color: #2C3E50;
    
}

.conhecimento-header i {
    font-size: 2.5rem;
}

.conhecimento-header h3 {
    font-family: 'Itim', serif;
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text {
    font-family: 'Itim',  serif;
    margin-top: 1rem;
    max-width: 300px;
}

.sessao-projetos {
    padding: 40px;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 18rem;
    height: 25rem;
    margin: 10px;
    position: relative;
}

.card-img {
    width: 100%;
    height: 100%;
    background-color: #505050;
    border-radius: .5rem;
}

.card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
}

.card-info {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: .3rem .2rem .3rem rgba(0,0,0,0.6);
}

.card-info h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.card-info h3 {
    font-weight: bolder;
    color: #3cf8ef;

}

.card-info p {
    color: #ffffff;
    font-weight: bolder;
    width: 80%;
}
